<ion-view view-title="Mis Controles">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    
                    <strong>90 mg/db</strong> 
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 16/11/2015 15:00hs
                        </div>
                    </div>
                </div>
            </div>
        </div>    
                <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    
                    <strong>90 mg/db</strong> 
                    <div class="card-footer text-right">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 16/11/2015 15:00hs
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    
                    <strong>90 mg/db</strong> 
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 16/11/2015 15:00hs
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
