<ion-view view-title="bien" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Codipa Diabeticos</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Nombre" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Mail" highlight-color="balanced" type="text"></ion-md-input>
            </br>
 

  <label class="item item-input item-select">
    <div class="input-label">
      Sexo.
    </div>
    <select>
      <option>Masculino</option>
       <option selected>Femenino</option>
    </select>
  </label>

  </br>
    <label class="item item-input item-select">
    <div class="input-label">
      Tipo de Diabetes.
    </div>
    <select>
      <option selected> Tipo 1 (DM1) </option>
      <option > Tipo 2 (DM2) </option>
    </select>
  </label>

            <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>


  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
Acepto términos y condiciones.  </li>

        <div class="padding">
            <button ui-sref="app.gallery" class="button button-full button-assertive ink">Login</button>
        </div>       

         </div>
      
       
    </ion-content>
</ion-view>
