<ion-view view-title="Glucemia/insulina">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">

   <div class="list">
     <label class="item item-input item-select">
    <div class="input-label">
Ingrese Fecha de control    </div>
            <ion-md-input placeholder="00/00/00" highlight-color="balanced" type="text"></ion-md-input>
            </label>
              <label class="item item-input item-select">
    <div class="input-label">
Ingrese Hora del control
    </div>
            <ion-md-input placeholder="00:00" highlight-color="balanced" type="text"></ion-md-input>
        
 </label>

              <label class="item item-input item-select">
    <div class="input-label">
Ingrese Valores del control
    </div>

            <ion-md-input placeholder="mg/dl" highlight-color="energized" type="text"></ion-md-input>

 </label>

        <div class="padding">
            <button ui-sref="app.activity" class="button button-full button-assertive ink">Cargar Control</button>
        </div>       

         </div>
     
    </ion-content>
</ion-view>

