<ion-view view-title="Inicio">
<ion-view view-title="Inicio" align-title="left">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

<a class="button button-clear  icon ion-social-twitter"></a>
<a class="button button-clear icon ion-social-facebook"></a>
<a class="button button-clear icon ion-social-linkedin-outline"></a>

</br>
<button ui-sref="app.friends" class="button button-block  icon-left ion-waterdrop button-positive">Glucemia</button>
</br>
</br>
<button ui-sref="app.friends" class="button button-block  icon-left ion-pin button-assertive">Insulina  </button>
</br>
</br>
<button class="button button-block  icon-left ion-ios-calendar-outline button-energized">Calendario</button>



 <div class="button-bar social-login">
            <button ui-sref="app.profile" class="button button-small button-border button-estable">Ayuda</button>
            <button ui-sref="app.profile" class="button button-small button-border button-estable ">Terminos y Condiciones</button>
        </div>
    </ion-content>
</ion-view>
