<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>CodipaDiabeticos</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input placeholder="Email" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Contraseña" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.gallery" class="button button-full button-assertive ink">Entrar</button>
        </div>
        <div class="button-bar social-login">
            <button ui-sref="app.profile" class="button button-small button-border button-assertive-900">Registrarse</button>
            <button href="https://www.facebook.com"class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
