<ion-view view-title="Registrate" align-title="left">
    <ion-content style="background-color: #ffffff; center; background-size: cover;">
       
        <div class="list">
            <ion-md-input placeholder="Nombre" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input placeholder="Mail" highlight-color="balanced" type="text"></ion-md-input>
        
 



            <ion-md-input placeholder="Contraseña" highlight-color="energized" type="password"></ion-md-input>


        <div class="padding">
            <button ui-sref="app.gallery" class="button button-full button-assertive ink">Login</button>
        </div>       

         </div>
      
       
    </ion-content>
</ion-view>
